# Exploración de datos vehiculares en Estados Unidos

In [ ]:
#importación de librerias para el análisis
import pandas as pd
import plotly.express as px

In [ ]:
#Carga de datos
vehicles = pd.read_csv('/home/jillean/Documents/tripleten/Sprint7/vehicles_us.csv')

## Visualizacion preliminar de los datos

In [19]:
vehicles

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

In [15]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [17]:
vehicles.describe().round(2)

           price  model_year  cylinders   odometer   is_4wd  days_listed
count   51525.00    47906.00   46265.00   43633.00  25572.0     51525.00
mean    12132.46     2009.75       6.13  115553.46      1.0        39.55
std     10040.80        6.28       1.66   65094.61      0.0        28.20
min         1.00     1908.00       3.00       0.00      1.0         0.00
25%      5000.00     2006.00       4.00   70000.00      1.0        19.00
50%      9000.00     2011.00       6.00  113000.00      1.0        33.00
75%     16839.00     2014.00       8.00  155000.00      1.0        53.00
max    375000.00     2019.00      12.00  990000.00      1.0       271.00

In [22]:
vehicles['condition'].unique()

array(['good', 'like new', 'fair', 'excellent', 'salvage', 'new'],
      dtype=object)

## Creacion de graficas de distribucion

In [28]:
histogram_odometer = px.histogram(vehicles, x='odometer')
histogram_odometer.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
histogram_odometer = px.histogram(vehicles, x='odometer')
histogram_odometer.show()